<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Albania</string>
	<string>Armenia</string>
	<string>Azerbaijan</string>
	<string>Belize</string>
	<string>Benin</string>
	<string>Botswana</string>
	<string>Burkina Faso</string>
	<string>Cambodia</string>
	<string>Cameroon</string>
	<string>China</string>
	<string>Colombia</string>
	<string>Costa Rica</string>
	<string>Dominican Republic</string>
	<string>Eastern Caribbean</string>
	<string>Ecuador</string>
	<string>El Salvador</string>
	<string>Ethiopia</string>
	<string>Fiji</string>
</array>
</plist>
