<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Education</string>
	<string>Community Economic Development</string>
	<string>Rural Family Health Project</string>
	<string>TEFL PROJECT</string>
	<string>Environmental Action and Food Security (EAFS)</string>
</array>
</plist>
