<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>CED</string>
	<string>ED</string>
	<string>HE</string>
	<string>ENV</string>
	<string>AG</string>
	<string>YD</string>
	<string>EMA</string>
	<string>IAP</string>
	<string>AF</string>
</array>
</plist>
